<!DOCTYPE html>

<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>My Finance Dashboard</title>

    <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
    <link rel="stylesheet" href="../stylesheet.css">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">

    <style type="text/css"> [data-col="5"] { left:1245px;}  [data-col="4"] { left:935px;}  [data-col="3"] { left:625px;}  [data-col="2"] { left:315px;}  [data-col="1"] { left:5px;}  [data-row="16"] { top:5555px;}  [data-row="15"] { top:5185px;}  [data-row="14"] { top:4815px;}  [data-row="13"] { top:4445px;}  [data-row="12"] { top:4075px;}  [data-row="11"] { top:3705px;}  [data-row="10"] { top:3335px;}  [data-row="9"] { top:2965px;}  [data-row="8"] { top:2595px;}  [data-row="7"] { top:2225px;}  [data-row="6"] { top:1855px;}  [data-row="5"] { top:1485px;}  [data-row="4"] { top:1115px;}  [data-row="3"] { top:745px;}  [data-row="2"] { top:375px;}  [data-row="1"] { top:5px;}  [data-sizey="1"] { height:360px;} [data-sizey="2"] { height:730px;} [data-sizey="3"] { height:1100px;} [data-sizey="4"] { height:1470px;} [data-sizey="5"] { height:1840px;} [data-sizey="6"] { height:2210px;} [data-sizey="7"] { height:2580px;} [data-sizey="8"] { height:2950px;} [data-sizey="9"] { height:3320px;} [data-sizey="10"] { height:3690px;} [data-sizey="11"] { height:4060px;} [data-sizey="12"] { height:4430px;} [data-sizey="13"] { height:4800px;} [data-sizey="14"] { height:5170px;} [data-sizey="15"] { height:5540px;} [data-sizex="1"] { width:300px;} [data-sizex="2"] { width:610px;} [data-sizex="3"] { width:920px;} [data-sizex="4"] { width:1230px;} [data-sizex="5"] { width:1540px;} [data-sizex="6"] { width:1850px;}</style></head>
<body>

{{{body}}}


</body>
</html>