<!-- public/index.handlebars -->

<!DOCTYPE html>

<html lang="en"><head>
</head>
<body>
<h1>Attention, everyone!</h1>
<p>This is a homepage.</p>
<a href="/auth/google">Log In With Google</a>
</body>
</html>